<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>indirimbo</title>
</head>

<body style="background-color: #0745a8;">

        <form action="/goods/views" method="Post">


                <h1 style="text-align: center; font-size: 50px; color: #ffff;">channelId</h1>
                <center><textarea type="text" name="channelId"
                                style="width:80%;height: 50px; font-size: 25px; color:#0745a8; "></textarea> </center>
                <br>
                <h1 style="text-align: center; font-size: 50px; color: #ffff;">videoId</h1>
                <br>
                <center> <textarea type="text" name="Videoid"
                                style="width:80%;height: 50px; font-size: 25px; color:#0745a8; "></textarea>
                </center>
                </center>
                <br>
                <center><button
                                style="background-color: #ffff; color: #0745a8; border: none;  height: 45px; width: 60px;">save</button>
                </center>


        </form>
        <form action="/goods/subscribe" method="Post">

                <h1 style="text-align: center; font-size: 50px; color: #ffff;">channelUrl</h1>
                <center><textarea type="text" name="channelUrl"
                                style="width:80%;height: 50px; font-size: 25px; color:#0745a8; "></textarea> </center>
                <br>
                <h1 style="text-align: center; font-size: 50px; color: #ffff;">channelName</h1>
                <center><textarea type="text" name="channelName"
                                style="width:80%;height: 50px; font-size: 25px; color:#0745a8; "></textarea> </center>
                <br>
                <h1 style="text-align: center; font-size: 50px; color: #ffff;">Discription</h1>
                <center><textarea type="text" name="Discription" maxlength="420"
                                style="width:80%;height: 15vw; font-size: 25px; color:#0745a8; "></textarea> </center>
                <br>
                <center><button
                                style="background-color: #ffff; color: #0745a8; border: none;  height: 45px; width: 60px;">save</button>
                </center>

        </form>
        <form action="/goods/watchtime" method="Post">

                <h1 style="text-align: center; font-size: 50px; color: #ffff;">channelId</h1>
                <center><textarea type="text" name="channelId"
                                style="width:80%;height: 50px; font-size: 25px; color:#0745a8; "></textarea> </center>
                <br>
                <h1 style="text-align: center; font-size: 50px; color: #ffff;">videoId</h1>
                <br>
                <center> <textarea type="text" name="Videoid"
                                style="width:80%;height: 50px; font-size: 25px; color:#0745a8; "></textarea>
                </center>
                </center>
                <br>
                <center><button
                                style="background-color: #ffff; color: #0745a8; border: none;  height: 45px; width: 60px;">save</button>
                </center>

        </form>



</body>

</html>