<!DOCTYPE html>
<html>
<title>true dreams</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('../static/cash4.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div style="background-image: url('../public/cash4.jpg');" class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div  class="w3-display-topleft w3-padding-large w3-xlarge">
   <img style="border: 2px solid black; border-radius: 5px; background-color:rgba(0, 0, 0, 0.74) ; height: 40%;width: 40%;"  src="../public/WhatsApp 11.24.44 PM.png" alt="LOGO">
  </div>
  <div  style="width: 100%; text-align: center;" class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top"><b>MAKE MONEY</b></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">click to make money with youtube videos</p>
     <a href="/login"> <button style="border: none; background-color: rgb(223, 222, 222);color: rgb(8, 8, 8); height: 30px; width: fit-content;"><b>CLICK TO CONTINUE</b></button></a>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
  </div>
</div>

</body>
</html>
