<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('../static/cash4.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div style="background-image: url('../public/cash4.jpg');" class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
   <img style="height: 30%;width: 30%;" src="../public/LOGO2.png" alt="LOGO">
  </div>
  <div  style="width: 100%; text-align: center;" class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top"><b>KORA IKOFI WIREBERA VIDS</b></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Kanda uryoherwe na cash za youtube  </p>
     <a href="/login"> <button style="border: none; background-color: rgb(223, 222, 222);color: rgb(8, 8, 8); height: 2vw; width: fit-content;"><b>KANDA HANO GUKOMEZA</b></button></a>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
  </div>
</div>

</body>
</html>
